# this playbook installs docker and portainer on a ubuntu server

--- 
- name: Install docker
  hosts: docker
  become: yes
  gather_facts: yes

  tasks: 
    - name: Update the VM
      apt: 
        update_cache: yes
        upgrade: dist 
        autoremove: yes
        autoclean: yes
    
# Install necessary packages
    - name: Install packages
      package:
        name: "{{item}}"
        state: present 
      loop:
        - ufw
        - curl
        - nano
        - python3-pip

# Start and configure the firewall        
    - name: Start UFW
      service: 
        name: ufw
        state: started
        enabled: yes

    - name: Allow UFW Ports
      command: "ufw allow {{item}}"
      loop:
        - 22
        - 433
        - 80
        - 9443 
        - 9000 #portainer

    - name: Configure UFW
      command: ufw default deny incoming
    
    - name: Allow UFW Outgoing
      command: ufw default allow outgoing
    
    - name: Enable UFW
      command: ufw --force enable
    
# Install and start docker.io
    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start docker 
      service:
        name: docker
        state: started
        enabled: yes

# add a user to the docker group
    - name: add user
      user: 
        name: "{{ user }}" # added user variable in inventory file
        groups: docker
        append: yes

# install and configure portainer with docker
    - name: create portainer volume
      community.docker.docker_volume:
        name: portainer-data

    - name: run portainer
      community.docker.docker_container:
        name: portainer
        image: portainer/portainer-ce:latest
        state: started
        restart_policy: unless-stopped
        ports:
          - "9000:9000"
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
          - portainer-data:/data
    




